GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
GOOGLE_LLM_MODEL='gemini-3.6-flash'
DATABASE_URL='postgresql+psycopg://postgres:postgres@localhost:5432/rag'
PG_VECTOR_COLLECTION_NAME='documento_pdf'
PDF_PATH='document.pdf'
